.ad_login_bg{
	position:fixed;
	z-index:-1;
	heiht:100%;
	width:100%;
	top: 0;
	left: 0;
}
.ad_login_bg img{
	display: block;
	heiht:100%;
	width:100%;
	margin: 0 auto;
}
.ad_login_footer{
	position: fixed;
	bottom:0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 13px;
	color: #ffffff;
	text-align: center;
}
.ad_login_wrap{
	width: 360px;
	margin: 0 auto;
	margin-top: 60px;
	background-color: rgba(256, 256, 256, 0.4);
	border-radius: 8px;
	padding: 30px 30px;
	margin-bottom: 60px;
}
.ad_login_logo{
	width: 150px;
	margin: 0 auto;
}
.ad_input_wrap{
	width: 100%;
	height: 52px;
	line-height: 52px;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0);
	background-color: rgba(256, 256, 256, 0.6);
	font-size: 16px;
	color: #bfbebc;
	margin-bottom: 18px;
	overflow: hidden;
	transition: border 0.3s linear;
}
.ad_input_wrap:hover{
	border: 1px solid #3399ff;
}
.ad_input_text{
	float: left;
	width: 300px;
	height: 52px;
	line-height: 52px;
	outline: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	margin-left: 10px;
	font-size: 14px;
}
.ad_input_text.special{
	width: 160px;
}
.ad_login_ul{
	margin-top: 25px;
}
.ad_input_submit{
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	background-color: #f63d78;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-top: 15px;
	cursor: pointer;
	transition: background-color 0.3s linear;
}
.ad_input_submit:hover{
	background-color: #b81146;
}
.ad_login_icon{
	float: left;
	margin: 9px auto auto 10px;
}
.ad_validate{
	float: right;
}
.ad_validate img{
	height: 52px;
}
.ad_span{
	display: inline-block;
	position: relative;
	top:-4px;
	font-size: 12px;
	color: #ffffff;
	height: 24px;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    text-align: center;
    border-radius: 30px;
}
.ad_input_checkbox{
	height: 18px;
	width: 18px;
	background-color: rgba(256, 256, 256, 0.6);
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
.ad_error_bar{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #e52641;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	background: url('../../images/admin/icon_error.png') no-repeat 10px 8px #fff;
}
.ad_error_bar span{
	margin-left: 40px;
}
