/*----------公共属性----------*/
.icon{
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
/*-评论图标-*/
.icon_comment{
	width: 2.5em;
	height: 2.5em;
}
/*-提交回答图标-*/
.icon_add_answer{
	vertical-align: -0.5em;
}

/*-118-*/
.icon_em_15{
	width: 1.5em !important;
	height: 1.5em !important;
}
.icon_em_16{
	width: 1.6em !important;
	height: 1.6em !important;
}
.icon_em_17{
	width: 1.7em !important;
	height: 1.7em !important;
}
.icon_em_18{
	width: 1.8em !important;
	height: 1.8em !important;
}
.icon_em_20{
	width: 2em !important;
	height: 2em !important;
}
.icon_em_25{
	width: 2.5em !important;
	height: 2.5em !important;
}
.icon_em_30{
	width: 3em !important;
	height: 3em !important;
}
.icon_em_35{
	width: 3.5em !important;
	height: 3.5em !important;
}
.icon_em_38{
	width: 3.8em !important;
	height: 3.8em !important;
}
.icon_em_40{
	width: 4em !important;
	height: 4em !important;
}
.icon_em_60{
	width: 6em !important;
	height: 6em !important;
}
.icon_em_80{
	width: 8em !important;
	height: 8em !important;
}