/*----------------问答列表------------------*/

/*--------问答横向菜单-------*/
.sub_menu{
	width: 100%;
	left: 0;
	right: 0;
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
	z-index: 1000;
}
.sub_menu_wrap{
	width: 86%;
	height: 78px;
	overflow: hidden;
}
.sub_menu_bar{
	height: 94px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.sub_menu_bar ul{
	width: 896px;
	height: 78px;
}
.sub_menu_bar ul li{
	float: left;
}
.sub_menu_bar ul li a{
	display: block;
	height: 78px;
	line-height: 78px;
	font-size: 26px;
	color: #333333;
	padding: 0 30px;
	font-weight: bolder;
}
.sub_menu_select{
	border-bottom: 5px solid #e44274;
}

/*--------问答下拉菜单-------*/
.sub_menu_down{
	position: absolute;
	top: 0;
	right: 0;
}
.btn_menu_down{
	display: block;
	margin-top: 28px;
}
#menu_cate{
	top: 168px;
	z-index: 1000;
}
.menu_cate_bar{
	width: 100%;
	padding: 50px 0 20px 0;
	background-color: #ffffff;
}
.menu_cate_bar ul{
	margin-left: 5%;
}
.menu_cate_bar ul li{
	float: left;
	width: 20%;
	margin-right: 5%;
	margin-bottom: 45px;
}
.menu_cate_bar ul li a{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	text-align: center;
	font-size: 25px;
	color: #474646;
}
.menu_cate_bar ul li a:hover{
	color: #ffffff;
	background-color: #C63965;
	border: 1px solid #C63965;
}

/*--------问答列表内容框-------*/

.qa_wrap{
	width: 100%;
	padding: 25px 0 20px 0;
	border-bottom: 1px solid #e5e5e5;
}
.qa_wrap_head{
	line-height: 49px;
}
.qa_content_wrap{
	margin-left: 60px;
	padding: 15px 0 0 0;
}
.qa_title{
	display: block;
	margin-bottom: 20px;
}
.qa_content{
	margin-right: 22px;
}
.qa_wrap_bottom{
	margin-top: 35px;
	line-height: 30px;
}
.qa_wrap_bottom .time_tip{
	margin-left: 10px;
}
.btn_ask{
	margin: 0 auto;
	margin-top: 15px;
}
.icon_add_ask{
	position: relative;
	top: 11px;
}

/*----------------提问------------------*/
.title_h2_ask{
	margin: 40px auto 25px auto;
}
.title_h2_ask.special{
	margin-top: 20px;
}
.ask_cate_wrap ul li{
	float: left;
	width: 25%;
	margin-bottom: 20px;
}
.ask_cate_wrap ul li a{
	display: block;
	width: 80%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #e2e1e1;
	font-size: 24px;
	color: #333333;
}
.ask_cate_select{
	color: #ffffff !important;
	background-color: #e44274;
	border: 1px solid #e44274;
}
.ask_input,.ask_textarea{
	width: 93%;
}
.ask_textarea{
	height: 140px;
}
.btn_add_ask{
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

/*------------问答详情--------------*/
.qa_head_d{
	height: 79px;
	padding-top: 9px;
}
.qa_details_info{
	margin-left: 15px;
}
.qa_status_d{
	width: 110px;
	height: 46px;
	line-height: 46px;
	margin-top: 14px;
}
.qa_content_d{
	margin: 50px 22px 40px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 30px;
}
.qa_content_d p{
	margin-top: 25px;
	margin-bottom: 40px;
}
.btn_ask_d{
	margin: 0 auto;
	margin-top: 40px;
}
.user_img_d{
	margin-top: 9px;
}
.qa_details_head .left.qa_details_info{
	margin-left: 15px;
}
.user_name_d{
	font-size: 26px;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 5px;
}
.qa_details_time{
	font-size: 22px;
	color: #adadad;
}
.qa_comment_head{
	width: 100%;
	height: 75px;
	line-height: 75px;
	border-top: 2px solid #e5e5e5;
	border-bottom:1px solid #d0d0d0;
	margin-top: 30px;
}
.qa_comment_head .left{
	margin-left: 22px;
	font-size: 24px;
	color: #353535;
}
.qa_comment_head .left span{
	margin-left: 15px;
}
.qa_comment_head .right{
	margin-right: 22px;
	font-size: 22px;
	color: #adadad;
}
.qa_comment_wrap{
	width: 100%;
	padding-top: 30px;
	line-height: 50px;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 10px;
}
.qa_content_bottom{
	margin-top: 30px;
	overflow: hidden;
}
.qa_content_bottom .right.btn_comment_reply{
	margin-right: 80px;
}


.comment_reply_wrap{
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
	margin-top: 5px;
}
ul.comment_footer_d li{
	float: left;
	width: 25%;
}
ul.comment_footer_d li:first-child a{
	margin-left: 22px;
}
ul.comment_footer_d li:last-child a{
	margin-right: 22px;
}
ul.comment_footer_d li a{
	display: block;
	width: 65px;
	margin: 0 auto;
	margin-top: 20px;
}
.btn_footer_fav,.btn_footer_good{
	color: #4f4f4f;
}
.share_bar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 40px 0 40px 0;
	background-color: #ffffff;
}
.share_bar a{
	color: #333333;
}
ul.share_list li{
	float: left;
	width: 25%;
	margin-bottom: 70px;
}
ul.share_list li a{
	display: block;
	width: 100%;
	text-align: center;
}
ul.share_list li a p{
	margin-top: 15px;
	font-size: 26px;
}
.btn_share_close{
	display: block;
	width: 56px;
	margin: 0 auto;
}
.btn_footer_good{
	position: relative;
}
.btn_footer_good span{
	position: absolute;
	top: 20px;
	right: -30px;
	font-size: 22px;
}
