.theme_wrap{
	border-bottom: 1px solid #e5e5e5;
	padding: 25px 0 20px 0;
}
.theme_img_bar{
	position: relative;
	display: block;
	width: 100%;
	height: 255px;
	border-radius: 10px;
	margin-bottom: 25px;
	overflow: hidden;
}
.theme_img_bar img{
	width: 100%;
}
.theme_cate_tip{
	position: absolute;
	top: 15px;
	left: 15px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	color: #f8f8f8;
	font-size: 18px;
	text-align: center;
	background:rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.theme_details_title h2{
	margin-bottom: 20px;
}
.theme_content_wrap{
	margin-top: 30px;
	padding-bottom: 60px;
}
.theme_wrap .fun_info_bar{
	margin-top: 20px;
}
/*71*/